*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html, body{
    margin: 0;
    padding: 0;
  }
  body{
    position: relative;
    font-family: Helvetica;
    background-color:#ECE9E7;
  }
  .button{
    font-family: Helvetica;
    font-size: 1.5em;
    border: 5px solid#56756C ;
    background-color:#ECE9E7;
    color: #B29B87;
    padding: 15px;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  .button.hidden{
    opacity: 0;
    transition: all 2s;
  }
  .wrap{
    height: 100%;
    min-height: 500px;
    position: relative;
  }
  .cromulon{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 900;
    transition: top 2s;
  }
  .cromulon.activated{
    display: block;
    top: 15%;
    transition: all 2s;
  }
  .card-container {
    float: left;
    width: 16.66666%;
    width: 21%;
    height: 21%;
    margin: 1%;
    perspective: 800px;
    display: block;
  }
  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  .card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card .front {
    border: 5px solid #56756C;
    background: #ECE9E7;
    padding: 5px;
  }
  .card .back {
    background: #ECE9E7;
    border: 5px solid #56756C;
    transform: rotateY( 180deg );
  }
  .back img {
    height: 100%;
    width: auto;
  }
  .card.flipped {
    transform: rotateY( 180deg );
  }
  .board{
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .board.started{
    opacity: 1;
    transition: opacity 5s;
  }
  .score{
    position: fixed;
    background-color: #56756C;
    color: #ECE9E7;
    z-index: 999;
  }
  .match{
    animation: pulse .5s;
    animation-delay: .5s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    color: #ECE9E7;
    background-color: #ECE9E7;
    display: none;
  }
  .modalMsg{
    margin: 10% auto;
    font-size: 3em;
    position: relative;
    width: 60%;
    background-color: #56756C;
    padding: 25px;
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.5s;
  }
  p{
    margin: 0;
  }
  .try-again{
    margin: 0 auto;
    border: 5px solid #ECE9E7;
    display: inline-block;
    font-size: .6em;
    padding: 5px;
    margin-top: 5%;
  }
  @-webkit-keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
  }
  
  @keyframes animatetop {
      from {top: -300px; opacity: 0}
      to {top: 0; opacity: 1}
  }