* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #ECE9E7;
    color: #B29B87;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    background-color: #56756C;
}

.picDivs {
    width: 100%;
}

.charDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scene {
    width: 200px;
    height: 260px;
    border: 5px solid #B29B87;
    margin: 10px 0;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    background-color: #ECE9E7;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}

/*.card__face--front {
    background: red; 
}*/

.card__face--back {
    transform: rotateY(180deg);
}

p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
    font-size: 18px;
    line-height: 0px;
} 

button {
    width: 150px;
    height: 80px;
    background-color: #ECE9E7;
    color:#B29B87;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 15px;
}
body {
    background-color: #56756C;
    margin: 15px;
}

footer {
    background-color: #ECE9E7;
    color: #B29B87;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}