.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

/*img {
    width: 180px;
    height: 225px;
}*/