HTML CSSResult
EDIT ON
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #ECE9E7;
  color:#ECE9E7;
}

h1, p {
  margin: 0 0 1em 0;
}

/* no grid support? */
.sidebar {
  float: left;
  width: 19.1489%;
}

.content {
  float: right;
  width: 79.7872%;
}

/* make a grid */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.wrapper > * {
  background-color: #56756C;
  color: #ECE9E7;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  clear: both;
}


@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}