main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width:1280px;
    margin: 0 auto;
    margin-bottom: 6 rem;
}

header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 10% / 50%;
    color:#B29B87;
    background-color: #ECE9E7;
    border: #ECE9E7;
}

h5 {
    background-color: #ECE9E7;
    color: #B29B87;
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}

h1 {
    font-size: 1rem;
    font-family: sans-serif;
    color: #B29B87;
    margin: 0;
}

body {
   background-color: #56756C;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #B29B87;
    padding: 3px;
    background-color: #ECE9E7;
}

h3 {
    margin: 0;
}

p {
    color: #B29B87
}

img {
    width: 120px;
}